<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="none">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/form.js}" ></script>
<script type="text/javascript" th:inline="javascript">
	var roleUrl = [[@{/role/page}]];
	var treeUrl = [[@{/menu/tree}]];
	var updateRoleAuthUrl = [[@{/role/updateRoleAuth}]];
</script>
<script type="text/javascript">
	var globalRoleId;
	$(function(){
		$("#grid").datagrid({
			url:roleUrl,
			singleSelect:"true",
			columns:[[
				{field:'uuid',title:'角色编号',align:'center',width:180},
				{field:'name',title:'角色名称',align:'center',width:180}
			]],
			pagination:true,
			pageSize:'5',
			pageList:[5,10,15,20],
			onClickRow:function(rowIndex,rowData){
				var roleid = rowData.uuid;
				globalRoleId = roleid;
				$("#tootip").html("当前角色 : "+rowData.name);
				loadTree(roleid);
				$("#btn").html("<input type='button' value='保存权限操作' onclick='save()'/>");
			}
		});
	})
	function loadTree(roleid){
		$("#tree").tree({
			url:treeUrl+"?roleid="+roleid,
			checkbox:true,
			animate:true
		});
	};
	function save(){
		var nodes = $("#tree").tree('getChecked');
		var idsArray = new Array();
		for(var i=0;i<nodes.length;i++){
			idsArray.push(nodes[i].id);
		}		var ids = idsArray.join();
		$.post(updateRoleAuthUrl,{'ids':ids,'roleid':globalRoleId},function(data){
				if(data.code==200){
					alert(data.data);
					loadTree(globalRoleId);
				}else{
					alert(data.msg);
				}
		});
	}
</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'west',title:'选择角色',split:true"  style="width:380px">
		<table id="grid"></table>
	</div>
	<div data-options="region:'center',title:'权限设置',split:true" style="padding:5px">
		<h3 id="tootip"></h3>
		<div id="tree"></div>
		<br/>
		<span id="btn"></span>
	</div>
	
</body>
</html>