<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="none">
<head>
<meta charset="UTF-8">
<title>采购申请</title>
<link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/form.js}" ></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/datagrid-detailview.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var orderNameUrl = [[@{/goods/all}]];
	var supplierUrl = [[@{/supplier/all}]];
	var addOrderUrl = [[@{/orders/add}]];
	var ordersType = [[${param.type}]];
</script>
<script type="text/javascript" >
	var lastRowIndex;
	if(ordersType=='1')
		supplierUrl=supplierUrl+"?type=1";
	else
		supplierUrl=supplierUrl+"?type=2";
	$(function(){
		$("#grid").datagrid({
			columns:[[
				{field:'goodsuuid',title:'商品编号',width:100,align:'center',editor:{
					type:'numberbox',
					options:{disabled:true}
				}},
				{field:'goodsname',title:'商品名称',width:100,align:'center',editor:{
					type:'combobox',
					options:{url:orderNameUrl,textField:'name',valueField:'name',onSelect:function(record){
						bindGoodsData(record);
						cals();
					}}
				}},
				{field:'price',title:'价格',width:100,align:'center',editor:{
					type:'numberbox',
					options:{precision:2,disabled:true}
				}},
				{field:'num',title:'数量',width:100,align:'center',editor:'numberbox'},
				{field:'money',title:'金额',width:100,align:'center',editor:{
					type:'numberbox',
					options:{disabled:true,precision:2}
				}}
			]],
			onSelect:function(index,row){
				$("#grid").datagrid("endEdit",lastRowIndex);
				lastRowIndex = index;
				$("#grid").datagrid("beginEdit",lastRowIndex);
				bindCalsEvent();
			},
			singleSelect:"true",
			toolbar:[{
				iconCls:'icon-add',
				text:'添加',
				handler:function(){
					$("#grid").datagrid('endEdit',lastRowIndex);
					$("#grid").datagrid('appendRow',{price:0,num:0,money:0});
					lastRowIndex = $("#grid").datagrid('getRows').length-1;
					$("#grid").datagrid('beginEdit',lastRowIndex);
					bindCalsEvent();
				}
			},{
				iconCls:'icon-remove',
				text:'删除',
				handler:function(){
					var row = $("#grid").datagrid("getSelected");
					if(row == null){
						if(lastRowIndex==0 || lastRowIndex > 0){
							var confirm = window.confirm("确定要删除最后一行吗?");
							if(confirm){
								var lastRows = $("#grid").datagrid('getRows');
								$("#grid").datagrid("endEdit",lastRows.length-1);
								var money = $("#totalMoney").html();
								$("#totalMoney").html(money-lastRows[lastRows.length-1].money);
								$("#grid").datagrid("deleteRow",lastRows.length-1);
								lastRowIndex--;
							}
						}else{
							alert("请选择删除的行");
						}
					}else{
						var confirm = window.confirm("确定要删除该行吗?");
						if(confirm){
							var money = $("#totalMoney").html();
							$("#totalMoney").html(parseFloat(money-row.money));
							$("#grid").datagrid('deleteRow',lastRowIndex);
							lastRowIndex = $("#grid").datagrid("getRows").length-1;
						}
					}
				}
			}]
		});
		$("#supplier").combogrid({
			url:supplierUrl,
			idField:'uuid',
			textField:'name',
			panelWidth:700,
			columns:[[
				{field:'uuid',title:'ID',width:100},
				{field: 'name', title: '名称', width: 100},
			    {field: 'address', title: '地址', width: 100},
			    {field: 'contact', title: '联系人', width: 100},
			    {field: 'tele', title: '电话', width: 100}
			]],
			mode:'remote'
		})
	})
	function cals(){
		var priceEditor = $("#grid").datagrid('getEditor',{index:lastRowIndex,field:'price'});
		var price = $(priceEditor.target).val();
		var numEditor = $("#grid").datagrid('getEditor',{index:lastRowIndex,field:'num'});
		var num = $(numEditor.target).val();
		var totalMoney = (price*num).toFixed(2);
		var moneyEditor = $("#grid").datagrid('getEditor',{index:lastRowIndex,field:'money'});
		$(moneyEditor.target).val(totalMoney);
		var rows = $("#grid").datagrid("getRows");
		$("#grid").datagrid('getRows')[lastRowIndex].money = totalMoney;
		var allMoney = 0;
		for(var i=0;i<rows.length;i++){
			allMoney+=parseFloat(rows[i].money);
		}
		$("#totalMoney").html(allMoney.toFixed(2));
	}
	function bindCalsEvent(){
		var priceEditor = $("#grid").datagrid("getEditor",{index:lastRowIndex,field:'price'});
		$(priceEditor.target).bind("keyup",function(){
			cals();
		})
		var numEditor = $("#grid").datagrid("getEditor",{index:lastRowIndex,field:'num'});
		$(numEditor.target).bind("keyup",function(){
			cals();
		})
	}
	function save(){
		$("#grid").datagrid("endEdit",lastRowIndex);
		var data = getFormData("searchForm");
		var rows = $("#grid").datagrid("getRows");
		data['json'] =  JSON.stringify(rows);
		$.post(addOrderUrl,data,function(data){
			if(data.code==200){
				alert(data.data);
				$("#grid").datagrid('loadData',{total:0,rows:[]});
				$("#totalMoney").html("0");
			}else{
				alert(data.msg);
			}
		})
	}
	function bindGoodsData(record){
		var priceEditor = $("#grid").datagrid("getEditor",{index:lastRowIndex,field:'price'});
		if(ordersType=='1')
			$(priceEditor.target).val(record.inprice);
		else if(ordersType=='2')
			$(priceEditor.target).val(record.outprice);
		var goodsUuidEditor = $("#grid").datagrid("getEditor",{index:lastRowIndex,field:'goodsuuid'});
		$(goodsUuidEditor.target).val(record.uuid);
	}
</script>
</head>
<body>
	<form id="searchForm">
		<span th:text="${#strings.equals(param.type,'1')}?'供应商':'客户'">供应商</span>:<input id="supplier" name="uuid"/>
		<input type="hidden" name="type" th:value="${param.type}"/>
	</form><br/>
	<table id="grid"></table>
	<span id="totalMoney"></span><br/>
	<form >
	</form>
	<input type="button" onclick="save()" value="提交申请"  style="background-color:#CCC"/>
</body>
</html>