<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="none">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/form.js}" ></script>
<script src='currencyFormatter.js' th:src="@{/js/currencyFormatter.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/datagrid-detailview.js}"></script>
<script type="text/javascript" src="/js/request.js" th:src="@{/js/request.js}" ></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/order.js}" ></script>
<script type="text/javascript"  th:inline="javascript">
	var basePath = [[${#request.contextPath}]];
</script>
<script type="text/javascript">
	var dblSelectIndex;
	var expandRowIndex;
	var isDouble = true;
	var isFilter = true;
	var operator;
	var instoreUrl = basePath+"/orders/instore";
	var pageUrl = basePath+"/orders/page?state=2";
	$(function(){
		$(".easyui-combobox").combobox({
			url:basePath+"/store/all"
		})
	})
</script>
</head>
<body>
	<table id="grid"></table>
	<div id="orderWindow" class="easyui-window" title="订单明细"
		style="width:300px;height:200px;" data-options="closed:true">
		<form id="orderForm">
			<input type="hidden" id="id" name="orderDetailUuid"/>
			<table width="100%">
				<tr>
					<td>商品编号：</td><td id="goodsuuid"></td>
				</tr>
				<tr>
					<td>商品名称：</td><td id="goodsname"></td>
				</tr>
				<tr>
					<td>商品数量：</td><td id="num"></td>
				</tr>
				<tr>
					<td>选择仓库：</td><td>
						<input class="easyui-combobox" name="storeUuid"
							data-options="valueField:'uuid',textField:'name'"/>
					</td> 
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="button" onclick="doInStore()" value="入库"/>
					</td> 
				</tr>
			</table>
		</form>
	</div>
	
</body>
</html>