<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="none">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/form.js}" ></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/datagrid-detailview.js}"></script>
<script type="text/javascript"  th:inline="javascript">
	var pageUrl = [[@{/orders/page}]];
	var orderDetailUrl = [[@{/orderdetail/}]];
	var stats = new Array();
	stats[0] = '未审核';
	stats[1] = '已审核';
	stats[2] = '已确认';
	stats[3] = '已结束';
	var orderType = new Array();
	orderType[0] = '销售订单';
	orderType[1] = '采购订单';
</script>
<script type="text/javascript">
	$(function(){
		$("#grid").datagrid({
			url:pageUrl,
			title:"订单列表",
			fitColumns:"true",
			columns: [[
				{field: 'uuid', title: '订单编号', width: 80,align:'center'},
				{field: 'createtime', title: '生成日期', align:'center',width: 150},
				{field: 'checktime', title: '检查日期', width: 150, align:'center'},
				{field: 'starttime', title: '开始日期', width: 150, align:'center'},
				{field: 'endtime', title: '结束日期', width: 150, align:'center'},
				{field: 'type', title: '订单类型', width: 80, align:'center',formatter:function(value,row,index){
					return orderType[value];
				}},
				{field: 'creater', title: '下单员', width: 100, align:'center',formatter: function(value,row,index) {
					return row.creater.name;}},
				{field: 'checker', title: '审查员', width: 100, align:'center',formatter: function(value,row,index) {
					return row.checker.name}},
				{field: 'starter', title: '采购员', width: 100, align:'center',formatter: function(value,row,index) {
					return row.starter.name}},
				{field: 'ender', title: '库管员', width: 100, align:'center',formatter: function(value,row,index) {
					return row.ender.name}},
				{field: 'supplier', title: '供应商', width: 200, align:'center',formatter:function(value,row,index){
					if(value == null)
						return "不明";
					else
						return value.name+" ("+value.address+") ";
				}},
				{field: 'totalmoney', title: '总金额', width: 80, align:'center'},
				{field: 'state', title: '订单状态', align:'center',width:80,formatter:function(value,row,index){
					return stats[value];
				}}
			]],
			view: detailview,
			height:400,
			detailFormatter: function(index, row) {
				return "<div id='ddv_" + index + "'></div>";
			},
			onExpandRow: function(index, row) {
				$("#ddv_"+index).datagrid({
					url:orderDetailUrl+row.uuid,
					method:"GET",
					columns:[[
						{field: 'uuid', title: '编号', width: 100,align:'center'},
						{field: 'goodsuuid', title: '商品编号', width: 100,align:'center'},
						{field: 'goodsname', title: '商品名称', width: 100,align:'center'},
						{field: 'price', title: '价格', width: 100,align:'center'},
						{field: 'num', title: '数量', width: 100,align:'center'},
						{field: 'money', title: '金额', width: 100,align:'center'},
						{field: 'endtime', title: '结束日期', width: 150,align:'center'},
						{field: 'ender', title: '仓管员', width: 100,align:'center'},
						{field: 'storeuuid', title: '仓库编号', width: 100,align:'center'},
						{field: 'state', title: '状态', width: 100,align:'center'}
					]],
					singleSelect:true
				})
			},
			singleSelect: "true",
			pagination: true, 
			pageSize: '5',
			pageList: [5, 10, 15, 20]
		});
		$("#searchBtn").bind('click', function() {
			var data = getFormData("searchForm");
			$("#grid").datagrid('reload',data );
		});
	})
	

</script>
</head>
<body>
	<form id="searchForm">
	订单状态：<input name="state" class="easyui-combobox" data-options="data:[
			{uuid:'', name:'全部'},
			{uuid:'0', name:'未审核'},
			{uuid:'1', name:'已审核'},
			{uuid:'2', name:'已确认'},
			{uuid:'3', name:'已入库'}], valueField:'uuid', textField:'name'"/>
<input type="button"  id="searchBtn" value="查询"></input>
		<br/><br/>
	</form>
	<table id="grid"></table>
</body>
</html>