<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="none">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  type="text/css"  th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/form.js}" ></script>
<script src='currencyFormatter.js' th:src="@{/js/currencyFormatter.js}"></script>
<script type="text/javascript" src="/js/request.js" th:src="@{/js/request.js}" ></script>
<script type="text/javascript" src="/js/form.js" th:src="@{/js/order.js}" ></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/datagrid-detailview.js}"></script>
<script type="text/javascript"  th:inline="javascript">
	var basePath = [[${#request.contextPath}]];
	var type = [[${param.type}]];
</script>
<script type="text/javascript">
	var isDouble = false;
	var isFilter = false;
	var operator;
	var pageUrl = basePath+"/orders/page?type="+type;
	$(function(){
		var comboboxData;
		if(type=="1"){
			comboboxData = [
				{uuid:'', name:'全部'},
				{uuid:'0', name:'未审核'},
				{uuid:'1', name:'已审核'},
				{uuid:'2', name:'已确认'},
				{uuid:'3', name:'已入库'}
			];
		}else{
			comboboxData = [
				{uuid:'', name:'全部'},
				{uuid:'0', name:'未入库'},
				{uuid:'1', name:'已入库'},
			];
		}
		$("#state").combobox({
			valueField:'uuid',
			textField:'name',
			data:comboboxData
		})
	})
</script>
</head>
<body>
	<form id="searchForm">
	订单状态：<input id="state" name="state" class="easyui-combobox" />
<input type="button"  id="searchBtn" value="查询"></input>
		<br/><br/>
	</form>
	<table id="grid"></table>
</body>
</html>