<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entor.erp.dao.MenuMapper">
  <select id="getMenuByRoleId" resultType="com.entor.erp.entity.Menu">
  	select * from menu m,role_menu rm where m.menuid=rm.menuid and rm.roleid=#{roleid}
  </select >
  <select id="getMenuByEmpid" resultType="com.entor.erp.entity.Menu">
  	select * from menu where menuid in (select rm.menuid from role r,role_menu rm where r.uuid=rm.roleid and uuid in 
  	(select roleid from emp_role where empid in (select uuid from emp where uuid = #{empid}))) order by menuid desc
  </select>
</mapper>