<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entor.erp.dao.RoleMapper">
  <select id="getRoleByEmpId" resultType="com.entor.erp.entity.Role">
  	select r.uuid,r.name from emp_role er,role r where er.empid = #{empid} and er.roleid=r.uuid
  </select >
</mapper>