<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entor.erp.dao.StoreMapper">
  	
  	<resultMap type="com.entor.erp.entity.Store" id="storeMap">
  		<id property="uuid" column="uuid"/>
  		<result property="name" column="name"/>
  		<association property="emp" column="empuuid" select="com.entor.erp.dao.EmpMapper.selectById"></association>
  	</resultMap>
  		
</mapper>