<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="none">
<head>
<meta charset="UTF-8">
<title>Error</title>
<link th:href="@{/easyui/themes/default/easyui.css}" rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link th:href="@{/easyui/themes/icon.css}" rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.min.js" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
</head>
<body>
	<table class="easyui-datagrid">
	    <thead>
			<tr>
				<th data-options="field:'code',align:'center',width:'200'">错误码</th>
				<th data-options="field:'path',align:'center',width:'200'">路径</th>
				<th data-options="field:'msg',align:'center'">错误消息</th>
				<th data-options="field:'time',align:'center',width:'300'">时间</th>
			</tr>
	    </thead>
	    <tbody>
			<tr>
				<td th:text="${code}"></td>
				<td th:text="${path}"></td>
				<td th:text="${msg}"></td>
				<td th:text="${#calendars.format(timestamp,'yyyy-MM-dd hh:mm:ss')}"></td>
			</tr>
		</tbody>
</table>
</body>
</html>